<div class="container row elements-align">
  <div class="col-md-8 first-col-align">
    <div class="container">
      <h2>
        Concentrează-te pe ce te interesează
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Convallis dictum pharetra, massa sapien, cursus. Tempor
        et eu nisi, turpis augue tristique eu sagittis. Volutpat volutpat nibh aliquet leo aenean libero elementum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Convallis dictum pharetra, massa sapien, cursus. Tempor
        et eu nisi, turpis augue tristique eu sagittis. Volutpat volutpat nibh aliquet leo aenean libero elementum.
      </p>
    </div>
    <button class="btn btn-dark" href="/">Mergi la Focus</button>
  </div>
  <div class="col-md-4">
    <img src="/assets/books.svg" alt="books illustration" class="illustration"/>
  </div>
</div>
