<div class="container" style="padding-top: 6rem">
  <div class="container title">
    <h1 style="text-align: center">Cum ne afectează fazele lunii?</h1>
    <p style="text-align: center">5 decembrie 2021</p>
  </div>
  <div class="container img-page p-4 p-md-5 mb-4 ">
    <img
      src="https://images.unsplash.com/photo-1549858670-d4fb4a5e0e18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"/>
  </div>
  <div class="text-body container-fluid justify-content-center col-md-8" style="">
    <p>
      Fazele Lunii sunt diferitele forme în care apare Luna văzută de un observator de pe Pământ. Ele sunt date de
      poziția Lunii în raport cu dreapta Pământ-Soare. Aceasta variază datorită mișcării de revoluție a Lunii în jurul
      Pământului. Perioada de repetare a fazelor Lunii este numită Lună sinodică și are o durată de aproximativ 29,5
      zile.
    </p>
    <p>
      Animație a Lunii în timp ce trece prin fazele sale, așa cum se vede din Emisfera Nordică. Balansarea aparentă a
      Lunii este cunoscută ca librație.
      Faza Lunii noi este atunci când, în cursul orbitei sale, satelitul se intrepune între Pământ și Soare. În timpul
      acestei faze nu este posibilă vederea Lunii întrucât ea este prezentă "pe cerul zilei", aparent, la mică distanță
      de Soare.
  </p>
    <p>
      Când orbita Lunii este aliniată în mod perfect cu Pământul și cu Soarele atunci se verifică fenomenul eclipsei de
      Soare.
    </p>
    <p>
      Text preluat de pe <a href="https://ro.wikipedia.org/wiki/Fazele_Lunii">aici</a>.
    </p>
  </div>
  <div class="container-fluid justify-content-center align-items-center title">
  <h5 style="text-align: center">Te-ar putea interesa și:</h5>
  </div>
  <div class="row justify-content-center">
    <div class="card" style="width: 30rem" [routerLink]="['/articole', 'Despre-respiratie']">
      <img
        src="https://images.unsplash.com/photo-1507120410856-1f35574c3b45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        class="card-img-top" alt="breathe-neon-sign" style="max-height: 250px; object-fit: cover">
      <div class="card-body">
        <h3 style="color: #171717">Despre respirație</h3>
        <p class="card-text" style="text-align: center; color:#272727">26 noiembrie 2021</p>
      </div>
    </div>
    <div class="card" style="width: 30rem;" [routerLink]="['/articole', 'Puterea-cristalelor-mit-sau-realitate']">
      <img
        src="https://images.unsplash.com/photo-1621329109234-d7657d2f3846?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
        class="card-img-top" alt="crystals" style="max-height: 250px; object-fit: cover">
      <div class="card-body">
        <h3 style="color: #171717">Puterea cristalelor, mit sau realitate.</h3>
        <p class="card-text" style="text-align: center; color:#272727">2 decembrie 2021</p>
      </div>
    </div>
  </div>
</div>
