:root{
  --white: #F6F6F6;
  --cream1: #D9CAB3;
  --cream05: #C7B59B;
  --cream2: #EEE6DA;
  --sea-1: #6D9886;
  --sea-2: #598070;
  --black1: #171717;
  --black05: #272727;
}

.carousel-style{
  height: 600px;
  display: flex;
  box-shadow: 0px 4px 4px rgba(89, 128, 112, 0.16);
  border-radius: 16px;
}

.display-preset{
  color: var(--black05);
}

