<div id="carouselExampleSlidesOnly" class="carousel-dark slide" data-ride="carousel" style="max-height: 600px">
  <div class="carousel-inner" style="max-height: 600px">
    <div class="carousel-item active" style="max-height: 600px">
      <img class="d-block w-100" src="/assets/pic1.png" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h2>Ia o pauză.</h2>
        <p>Fiecare lucrează în ritmul său</p>
      </div>
      <div class="carousel-item" style="max-height: 600px">
        <img class="d-block w-100" src="/assets/pic2.png" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h2>Îndreaptă-ți atenția către ce contează</h2>
          <p>Toate lucrurile trec</p>
        </div>
        <div class="carousel-item" style="max-height: 600px">
          <img class="d-block w-100" src="/assets/pic3.png" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <h2>Mâine s-ar putea să ai mai multe de făcut</h2>
            <p>One step at a time</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
