<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" style="margin-bottom: 60px">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="../assets/pic1.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-sm-block">
        <h5>Îndreaptă-ți atenția către ce contează</h5>
        <p>Toate lucrurile trec</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../assets/pic2.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-sm-block">
        <h5>Ia o pauză.</h5>
        <p>Fiecare lucrează în ritmul său</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../assets/pic3.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-sm-block">
        <h5>Mâine s-ar putea să ai mai multe de făcut</h5>
        <p>One step at a time</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
