<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
    <p class="col-md-4 mb-0 text-muted">&copy; 2021 Company, Inc</p>

    <a href="/"
       class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img src="../assets/projectlogo.svg" alt="project-logo"/>
    </a>

    <ul class="nav col-md-4 justify-content-end align-items-center">
      <li class="nav-item"><app-top-btn></app-top-btn></li>
      <li class="nav-item"><a href="https://www.facebook.com" class="nav-link px-2 text-muted"><i class="gg-facebook"></i></a></li>
      <li class="nav-item"><a href="https://www.instagram.com" class="nav-link px-2 text-muted"><i class="gg-instagram"></i></a></li>
      <li class="nav-item"><a href="https://docs.google.com/document/d/1NoJj6tnYyG9Nsmw5X8i9pEKN3QLVgGKXYO_L5LFYFxs/edit?usp=sharing" class="nav-link px-2 text-muted"><i class="gg-info"></i></a></li>
      <li class="nav-item"><a (click)="toggleDarkTheme()" class="nav-link px-2 text-muted"><i class="gg-shape-circle"></i></a> </li>
    </ul>
  </footer>
</div>

