<div class="d-flex align-items-center">

  <div class="flex-grow-1 ms-3">
    <div class="col first-col-align">
      <div class="container">
        <h2>
          Concentrează-te pe ce te interesează
        </h2>
        <p>
          Cu toții am fost presați de timp și nu ne-am îndreptat atenția către ceea ce trebuie. Întră în mindset-ul
          potrivit și începe să lucrezi la ce e nevoie. Concentrează-ți forțele pe progres și pe munca pe care trebuie să
          o termini. <b>Focus</b> este modul prin care poți sta focusat mai mult. Având la bază conceptul simplu al unui
          countdown (inspirat de tehnica pomodoro), modul focus aduce în plus partea ambientală în muncă.
        </p>
        <br/>
      </div>
      <button class="btn btn-dark"  routerLink="/focus" routerLinkActive="active">Mergi la Focus</button>
    </div>
  </div>
  <div class="flex-shrink-0 d-none d-xl-block">
  <img src="../assets/books.svg" alt="books">
</div>
</div>
