<div class="container" style="padding-top: 6rem">
  <div class="container title">
    <h1 style="text-align: center">Puterea cristalelor, mit sau realitate?</h1>
    <p style="text-align: center">2 decembrie 2021</p>
  </div>
  <div class="container img-page p-4 p-md-5 mb-4">
    <img
      src="https://images.unsplash.com/photo-1621329109234-d7657d2f3846?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
      alt="crystal"/>
  </div>
  <div class="text-body container-fluid justify-content-center col-md-8" style="">
    <p>
      Cristalele contin in ele comori pe care te invit sa le descoperi! Pornind din aceasta pagina deschizi o poarta
      spre un capitol captivant: cristalele, pietrele pretioase si semipretioase, rocile si mineralele. Vei gasi in
      paginile dedicate: un amplu Dictionar de cristale. Informatii despre purificare si programare. Ponturi despre
      folosirea eficienta a cristalelor. Recomandari zodiacale. Inspiratie pentru a purta cristalele potrivite. Afli ce
      rol si ce efecte benefice au pietrelor naturale. Descoperi cum arata si cum sa le deosebesti. Inveti cum le
      folosesti in avantajul tau. Primesti ponturi despre cum le alegi si cum le porti.
    </p>
    <p>
      Cristalele au rol protector, energizant, curativ, au rolul de a te ajuta în atingerea unor scopuri personale – mai
      multi bani, dragoste armonioasa, relatii de succes, cariera in ascensiune, afaceri prospere etc. Poartă piatra
      potrivită la tine permanent sau tine-o in preajma ta cat mai mult si ea te va incarca de energie pozitiva sau te
      va ocroti mereu ca un scut protector personal.
    </p>
    <p>
      Un cristal este un corp omogen, anizotrop, ale cărui particule componente, atomi, molecule, ioni sunt aranjate
      într-o structură internă tridimensională în diferite sisteme de simetrie cu repetări periodice numite sisteme de
      cristalizare. Se poate distinge o structură cristalină primară în formă de rețea, sau amorfă ca de exemplu a
      sticlei. Unele substanțe se pot găsi atât în stare cristalină, cât și în stare amorfă; un exemplu este dioxidul de
      siliciu (SiO2), care în stare cristalină este cuarțul, iar în stare amorfă este sticla de cuarț.
    </p>
    <p>
      Text preluat de pe <a href="https://ro.wikipedia.org/wiki/Cristal">aici</a> si de <a
      href="https://www.acvaria.com/cristale/">aici</a>.
    </p>
  </div>


  <div class="container-fluid justify-content-center align-items-center title">
    <h5 style="text-align: center">Te-ar putea interesa și:</h5>
  </div>
  <div class="row justify-content-center">
    <div class="card" style="width: 30rem" [routerLink]="['/articole', 'Despre-respiratie']">
      <img
        src="https://images.unsplash.com/photo-1507120410856-1f35574c3b45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        class="card-img-top" alt="breathe-neon-sign" style="max-height: 250px; object-fit: cover" >
      <div class="card-body">
        <h3 style="color: #171717">Despre respirație</h3>
        <p class="card-text" style="text-align: center; color:#272727">26 noiembrie 2021</p>
      </div>
    </div>
    <div class="card" style="width: 30rem;" [routerLink]="['/articole', 'Pozitivitate-un-lucru-rar-în-secolul-21']">
      <img
        src="https://images.unsplash.com/photo-1503876466-1fc5143eda57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
        class="card-img-top" alt="neon-motivation" style="max-height: 250px; object-fit: cover">
      <div class="card-body">
        <h3 style="color: #171717">Pozitivitate, un lucru rar în secolul 21</h3>
        <p class="card-text" style="text-align: center; color:#272727">17 noiembrie 2021</p>
      </div>
    </div>
  </div>
</div>
