<app-nav-bar></app-nav-bar>

<div class="container">
  <app-homepage-carousel></app-homepage-carousel>
  <div class="container justify-content-md-center">
    <div class="row justify-content-md-center"><h1 class="h1-homepage">Astăzi. Pentru că totul se întâmplă acum.</h1></div>

</div>
  <div class="container" style="padding: 30px; justify-content: center">
    <div class="row">
      <div class="col">
        1
      </div>
      <div class="col">
        1
      </div>
      <div class="col">
        1
      </div>
    </div>
  </div>

</div>
