<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2>Ce este Astăzi?</h2>
          <p>Astăzi este o aplicație web pentru focusare.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2>De ce exista?</h2>
          <p>A pornit de la un proiect și o idee.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2>Ce poți face?</h2>
          <p>Poți citi articole, sfaturi, etc.</p>
        </div>
      </div>
    </div>
  </div>
</div>
