<nav class="navbar navbar-expand-lg navbar-light bg" style="padding-bottom: 40px">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/projectlogo.svg" alt="Astazi-logo" width="108" height="28">
    </a>
    <button class="navbar-toggler" type="button-centered" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="justify-content: center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Acasă</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Focus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Articole</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sfaturi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Informații utile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
