<div class="container" style="padding-top: 6rem">
  <div class="container title">
    <h1 style="text-align: center">Despre respirație</h1>
    <p style="text-align: center">26 noiembrie 2021</p>
  </div>
  <div class="container img-page p-4 p-md-5 mb-4">
    <img
      src="https://images.unsplash.com/photo-1507120410856-1f35574c3b45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="crystal"/>
  </div>
  <div class="text-body container-fluid justify-content-center col-md-8" style="">
    <p>
      Respirația este un proces fiziologic fundamental prin care organismele realizează un schimb de oxigen și dioxid de
      carbon cu mediul înconjurător. O respirație completă include două faze distincte: inspirație, adică preluarea
      aerului (gazelor) din mediul înconjurător în organism, și expirație, prin care se elimină în afara organismului
      aerul folosit (uzat). Prin respirație, oxigenul (O2) din aerul inspirat ajunge la nivelul celulelor, iar dioxidul
      de carbon (CO2) rezultat este eliminat prin intermediul expirației.
    </p>
    <p>
      Toate organismele aerobe au nevoie de oxigen pentru a-și crea energia prin respirație, prin metabolismul
      moleculelor bogate în energie, precum glucoza. Pe Pământ există însă și organisme anaerobe, ca de exemplu unele
      microorganisme din lacurile subterane.
    </p>
    <p>
      <b>Se deosebesc următoarele tipuri:</b>
    <ul>
      <li>Respirație cutanată: schimbul de gaze are loc la nivelul suprafeței corpului (piele (anatomie)). Dacă prin
        arsuri
        sau acoperirea pielii cu substanțe nepermițătoare trecerii aerului se anihilează 30% din suprafața pielii, se
        creează o situație gravă pentru viață, iar la 50% moartea este aproape inevitabilă
      </li>
      <li>Respirație branhială: schimbul de gaze se efectuează prin intermediul branhiilor. Apare la pești.</li>
      <li>Respirație traheeală, în cazul insectelor.</li>
      <li>Respirație pulmonară: apare în cazul mamiferelor și păsărilor. Organul în cauză este plămânul, situat în
        cutia/cușca toracică, prin care oxigenul din aerul inspirat este transmis sângelui din aparatul circulator, iar
        dioxidul de carbon și acizii carbonici din sânge sunt preluați de aerul de expirat, fiind eliminați.
      </li>
    </ul>
    <p>
      Text preluat de pe <a href="https://ro.wikipedia.org/wiki/Cristal">aici</a> si de <a
      href="https://www.acvaria.com/cristale/">aici</a>.
    </p>
  </div>


  <div class="container-fluid justify-content-center align-items-center title">
    <h5 style="text-align: center">Te-ar putea interesa și:</h5>
  </div>
  <div class="row justify-content-center">
    <div class="card" style="width: 30rem;" [routerLink]="['/articole', 'Puterea-cristalelor-mit-sau-realitate']">
      <img
        src="https://images.unsplash.com/photo-1621329109234-d7657d2f3846?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
        class="card-img-top" alt="crystals" style="max-height: 250px; object-fit: cover">
      <div class="card-body">
        <h3 style="color: #171717">Puterea cristalelor, mit sau realitate.</h3>
        <p class="card-text" style="text-align: center; color:#272727">2 decembrie 2021</p>
      </div>
    </div>
    <div class="card" style="width: 30rem;" [routerLink]="['/articole', 'Pozitivitate-un-lucru-rar-în-secolul-21']">
      <img
        src="https://images.unsplash.com/photo-1503876466-1fc5143eda57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
        class="card-img-top" alt="neon-motivation" style="max-height: 250px; object-fit: cover">
      <div class="card-body">
        <h3 style="color: #171717">Pozitivitate, un lucru rar în secolul 21</h3>
        <p class="card-text" style="text-align: center; color:#272727">17 noiembrie 2021</p>
      </div>
    </div>
  </div>
</div>
