
<div class="container-fluid align-items-center" style="padding-top: 6rem">
  <div style="align-content: center">
    <h1 class="justify-content-center" style="text-align: center">Articole</h1>
  </div>
  <div class="input-group container-fluid rounded align-items-center" style="max-width: 400px">
    <input type="search" class="form-control rounded" placeholder="Caută ce te interesează, dar nu acum..." aria-label="Search"/>
  </div>
  <div class="row justify-content-center">
    <div class="card" style="width: 30rem" [routerLink]="['/articole', 'Cum-ne-afecteaza-fazele-lunii']">
      <img
        src="https://images.unsplash.com/photo-1549858670-d4fb4a5e0e18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        class="card-img-top" alt="woman-holding-moon" style="max-height: 250px; object-fit: cover">
      <div class="card-body">
        <h3 style="color: #171717">Cum ne afectează fazele lunii?</h3>
        <p class="card-text" style="text-align: center; color:#272727">5 decembrie 2021</p>
      </div>
    </div>
    <div class="card" style="width: 30rem;" [routerLink]="['/articole', 'Puterea-cristalelor-mit-sau-realitate']">
      <img
        src="https://images.unsplash.com/photo-1621329109234-d7657d2f3846?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
        class="card-img-top" alt="crystals" style="max-height: 250px; object-fit: cover">
      <div class="card-body">
        <h3 style="color: #171717">Puterea cristalelor, mit sau realitate.</h3>
        <p class="card-text" style="text-align: center; color:#272727">2 decembrie 2021</p>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="card" style="width: 30rem" [routerLink]="['/articole', 'Despre-respiratie']">
      <img
        src="https://images.unsplash.com/photo-1507120410856-1f35574c3b45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        class="card-img-top" alt="breathe-neon-sign" style="max-height: 250px; object-fit: cover" >
      <div class="card-body">
        <h3 style="color: #171717">Despre respirație</h3>
        <p class="card-text" style="text-align: center; color:#272727">26 noiembrie 2021</p>
      </div>
    </div>
    <div class="card" style="width: 30rem;" [routerLink]="['/articole', 'Pozitivitate-un-lucru-rar-în-secolul-21']">
      <img
        src="https://images.unsplash.com/photo-1503876466-1fc5143eda57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
        class="card-img-top" alt="neon-motivation" style="max-height: 250px; object-fit: cover">
      <div class="card-body">
        <h3 style="color: #171717">Pozitivitate, un lucru rar în secolul 21</h3>
        <p class="card-text" style="text-align: center; color:#272727">17 noiembrie 2021</p>
      </div>
    </div>
  </div>
</div>
