<p>advice-page works!</p>
<div class="container" style="padding-top: 50px">
  <h1>Sfaturi</h1>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Citat</th>
      <th scope="col">Autor</th>
      <th scope="col">Categorie</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Orice decizi să fii, fii cel mai bun!</td>
      <td>Abraham Lincoln</td>
      <td>Motivatie</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Nu zi niciodata “nu se poate”, ci incepe cu “sa vedem”.</td>
      <td>Nicolae Iorga</td>
      <td>Motivatie</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Pentru a reusi trebuie sa crezi.</td>
      <td>Robert M. Hensel</td>
      <td>Încredere</td>
    </tr>
    </tbody>
  </table>

</div>
